<form [formGroup]="form" (ngSubmit)="register()">


  <div class="mb-3">
    <label for="firstName" class="form-label">firstName</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstName">
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label">lastName</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastName">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="text" class="form-control" id="email">
  </div>

  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input formControlName="password" type="text" class="form-control" id="Password">
  </div>

  <div class="mb-3">
    <label for="confirmedPassword" class="form-label">Confirm your password</label>
    <input formControlName="confirmedPassword" type="text" class="form-control" id="confirmedPassword">
  </div>


  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>

</form>
